{% extends "common.html" %} {% block content %}
<div class="container">
    <h2>Extend time
        <a href="{{url_for('auth.logout')}}">
            <button class='btn btn-danger pull-right'>
                Logout
            </button>
        </a>
    </h2>
    <form method="POST" action="{{ url_for('admin.extend_time_post') }}">
        <div class="form-group row">
            <div class="col-xs-3">
                <label for="new_time">Time</label>
                <input class="form-control" id="new_time" type="number" name="new_time" placeholder="Day(s)">
            </div>
            <div class="col-xs-7">
                <label for="private_key">Private key</label>
                <input class="form-control" id="private_key" type="password" name="private_key"
                    placeholder="Admin private key">
            </div>
            <div class="col-xs-2">
                <label for="update">&zwnj;</label>
                <button type="submit" class="btn btn-default form-control" id="update">Update</button>
            </div>
        </div>
    </form>
</div>

<hr>

<div class="container">
    <h2>
        Candidates voting status
        <a href="{{ url_for('admin.publish') }}">
            <button class='btn btn-primary pull-right'>
                {{ 'Rollback' if election_status else 'Publish result' }}
            </button>
        </a>
    </h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Roll number</th>
                <th>Name</th>
                <th>Vote count</th>
                <th>Admin control</th>
            </tr>
        </thead>
        <tbody>

            {% for candidate in candidates %}
            <tr class="{{ 'success' if candidate.id in max_vote_owner_id else 'active' }}">
                <td>{{ candidate.roll_number }}</td>
                <td>{{ candidate.name }}</td>
                <td>{{ candidate.vote_count }}</td>
                <td>
                    <a href="{{ url_for('admin.block_candidate', candidate_id=candidate.id) }}">
                        <button type="button"
                            class="btn btn-sm {{ 'btn-danger' if candidate.candidate_status else 'btn-success' }}">
                            {{ 'Block' if candidate.candidate_status else 'Unblock'}}
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<hr>

<div class="container">
    <h2>Voters</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Roll number hash</th>
                <th>Wallter address</th>
                <th>Vote status</th>
                <th>Admin control</th>
            </tr>
        </thead>
        <tbody>
            {% for voter in voters %}
            <tr class="{{ 'success' if voter.vote_status else 'active' }}">
                <td>{{ voter.roll_number_hash }}</td>
                <td>{{ voter.wallet_address }}</td>
                <td>{{ 'VOTED' if voter.vote_status else 'NOT VOTED'}}</td>
                <td>
                    <a href="{{ url_for('admin.block_voter', voter_id=voter.id) }}">
                        <button type="button"
                            class="btn btn-sm {{ 'btn-danger' if voter.voter_status else 'btn-success' }}">
                            {{ 'Block' if voter.voter_status else 'Unblock'}}
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}