{% extends "common.html" %} {% block content %}

<div class="container">

    <div class="container">
        <h2>
            Selected candidate
            <a href="{{url_for('auth.logout')}}">
                <button class='btn btn-danger pull-right'>
                    Logout
                </button>
            </a>
        </h2>
        <table class="table table-hover">
            <tbody>
                <tr class="info">
                    <td><b>Roll number</b></td>
                    <td>{{ selected_candidate.roll_number }}</td>
                </tr>
                <tr class="info">
                    <td><b>Candidate name</b></td>
                    <td>{{ selected_candidate.name }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Sign transaction</h2>

    <form method="POST" action="{{url_for('main.cast_vote_confirm', candidate_id=selected_candidate.id)}}">
        <div class="form-group">
            <label for="private_key">Parivate key</label>
            <input type="password" class="form-control" id="private_key" placeholder="Enter private key"
                name="private_key">
        </div>
        <button type="submit" class="btn btn-primary">Confirm signature</button>

    </form>

</div>

{% endblock %}