{% extends "common.html" %} {% block content %}

<div class="container">
    <h2>
        Voter details
        <a href="{{url_for('auth.logout')}}">
            <button class="btn btn-danger pull-right">
                Logout
            </button>
        </a>
    </h2>
    <table class="table table-hover">
        <tbody>
            <tr class="info">
                <td>Roll number</td>
                <td>{{ user.roll_number_hash }}</td>
            </tr>
            <tr class="info">
                <td>Wallet address</td>
                <td>{{ user.wallet_address }}</td>
            </tr>
            <tr class="info">
                <td>Vote status</td>
                <td><span class="label label-primary">{{ 'VOTED' if user.vote_status else 'NOT VOTED'}}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Select candidate</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Roll number</th>
            <th>Name</th>
            <th>Cast vote</th>
        </tr>
    </thead>
    <tbody>

        {% for candidate in candidates %}
        <tr>
            <td>{{ candidate.roll_number }}</td>
            <td>{{ candidate.name }}</td>
            <td>
                {% if not user.vote_status %}
                <a href="{{url_for('main.cast_vote', candidate_id=candidate.id)}}">
                    <button type="button" class="btn btn-sm btn-success">Vote</button>
                </a>
                {% endif %}
                {% if user.vote_status %}
                <button type="button" class="btn btn-sm disabled">Voted</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}


    </tbody>
</table>

{% endblock %}