<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home | G10</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="jumbotron text-center">
        <h1>SC-5 eVoting G10</h1>
        <p>Online voting system using with <b>Blockchain Technology</b></p>
    </div>

    <div class="container">

        <div class="container text-center" style="width: 70%;">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="list-group">
                {% for message in messages %}
                <li class="list-group-item list-group-item-warning">
                    <strong>{{ message }}</strong>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        {% block content %} {% endblock %}
    </div>
</body>

</html>