{% extends "common.html" %} {% block content %}

<h2>
    Sign in here
    <a href="{{ url_for('auth.result') }}">
        <button class="btn btn-default pull-right">
            Result
        </button>
    </a>
</h2>
<form method="POST" action="{{url_for('auth.signin_post')}}">
    <div class="form-group">
        <label for="rollno">Roll No</label>
        <input type="text" class="form-control" id="rollno" placeholder="Enter roll number" name="rollno">
    </div>
    <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
    <a href="{{url_for('auth.signup')}}"><button type="button" class="btn btn-default">Sign up</button></a>
</form>
{% endblock %}